{% extends "base.html.twig" %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{ auction.title }}</h4>
        </div>
        <div class="panel-body">
            <p>{{ auction.description }}</p>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Price: $ {{ auction.price }} </li>
            <li class="list-group-item">Starting price: $ {{ auction.startPrice }} </li>
            <li class="list-group-item">End date: {{ auction.expiresAt | expireDate }} </li>
        </ul>
    </div>

    {% if is_granted("ROLE_USER") %}
        <div class="panel panel-success">
            <div class="panel-body">
                {{ form_start(buyForm, {"attr": {"class": "pull-left", "style": "padding-right: 10px"}}) }}
                    {{ form_widget(buyForm.submit, {"attr": {"class": "btn-success"}}) }}
                    {{ form_rest(buyForm) }}
                {{ form_end(buyForm) }}

                <div class="input-group">
                    {{ form_start(bidForm, {"attr": {"novalidate": "novalidate", "class": "pull-left"}}) }}
                        <div class="input-group">
                            {{ form_widget(bidForm.price) }}
                            <span class="input-group-btn">
                                {{ form_widget(bidForm.submit) }}
                            </span>
                        </div>
                        {{ form_rest(bidForm) }}
                    {{ form_end(bidForm) }}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    {% endif %}

    <div class="panel panel-default">
        <ul class="list-group">
            {% for offer in auction.offers %}
            <li class="list-group-item">
                Offer: price $ {{ offer.price }} | bid date: {{ offer.createdAt |  date("Y-m-d H:m:s") }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="clearfix"></div>

    {# DELETE CODE BELOW #}
    {% if not is_granted("ROLE_USER") %}
        <div>
            <h2>You need to log in if you want to buy a product.</h2>
        </div>
    {% endif %}
    {# --- #}

    <a class="btn btn-default" href="{{ url('auction_index') }}">Back to main page</a>
{% endblock %}
