{% extends "base.html.twig" %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{ auction.title }}</h4>
        </div>
        <div class="panel-body">
            <p>{{ auction.description }}</p>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Price: $ {{ auction.price }} </li>
            <li class="list-group-item">Starting price: $ {{ auction.startPrice }} </li>
            <li class="list-group-item">End date: {{ auction.expiresAt | date("Y-m-d H:m:s") }} </li>
        </ul>
    </div>

    <div class="panel panel-default">
        <ul class="list-group">
            {% for offer in auction.offers %}
            <li class="list-group-item">
                Offer: price $ {{ offer.price }} | bid date: {{ offer.createdAt |  date("Y-m-d H:m:s") }}
            </li>
            {% endfor %}
        </ul>
    </div>

    {% if is_granted("ROLE_USER") %}
        {{ form_start(buyForm, {"attr": {"class": "pull-left"}}) }}
            {{ form_widget(buyForm.submit, {"attr": {"class": "btn-success"}}) }}
            {{ form_rest(buyForm) }}
        {{ form_end(buyForm) }}
    {% endif %}

    <div class="clearfix"></div>

    {% if is_granted("ROLE_USER") %}
        <hr>
            {{ form(bidForm, {"attr": {"novalidate": "novalidate"}}) }}
        <hr>
    {% endif %}

    {# DELETE CODE BELOW #}
    {% if not is_granted("ROLE_USER") %}
        <div>You need to log in if you want to buy a product.</div>
    {% endif %}

    <a class="btn btn-default pull-left" href="{{ url('auction_index') }}">Back to main page</a>

{% endblock %}
