{% extends "base.html.twig" %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{ auction.title }}</h4>
        </div>
        <div class="panel-body">
            <p>{{ auction.description }}</p>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Price: $ {{ auction.price }} </li>
            <li class="list-group-item">Starting price: $ {{ auction.startPrice }} </li>
            <li class="list-group-item">End date: {{ auction.expiresAt | date("Y-m-d H:m:s") }} </li>
        </ul>
    </div>

    <div class="panel panel-default">
        <ul class="list-group">
            {% for offer in auction.offers %}
            <li class="list-group-item">
                Offer: price $ {{ offer.price }} | bid date: {{ offer.createdAt |  date("Y-m-d H:m:s") }}
            </li>
            {% endfor %}
        </ul>
    </div>


    <a class="btn btn-info pull-left" href="{{ url('auction_edit', {"id": auction.id}) }}">Edit</a>

    {{ form_start(deleteForm, {"attr": {"class": "pull-left"}}) }}
        {{ form_widget(deleteForm.submit, {"attr": {"class": "btn-danger"}}) }}
        {{ form_rest(deleteForm) }}
    {{ form_end(deleteForm) }}

    {{ form_start(finishForm, {"attr": {"class": "pull-left"}}) }}
        {{ form_widget(finishForm.submit, {"attr": {"class": "btn-warning"}}) }}
        {{ form_rest(finishForm) }}
    {{ form_end(finishForm) }}

    {{ form_start(buyForm, {"attr": {"class": "pull-left"}}) }}
        {{ form_widget(buyForm.submit, {"attr": {"class": "btn-success"}}) }}
        {{ form_rest(buyForm) }}
    {{ form_end(buyForm) }}

    <div class="clearfix"></div>

    <hr>
    {{ form(bidForm) }}
    <hr>

    <a class="btn btn-default pull-left" href="{{ url('auction_index') }}">Back to main page</a>
{% endblock %}
